@using Pin.OpenData.Blazor.Services
@using Pin.OpenData.Blazor.Models

@inject ILocationService LocationService
@inject IJSRuntime JSRuntime

<div id="map"></div>

@code {
    [Parameter]
    public bool Detail { get; set; }

    [Parameter]
    public Location Location { get; set; }

    private double latitude = 0;
    private double longitude = 0;
    private List<Location> locations;

    protected override void OnInitialized()
    {
        locations = LocationService.GetLocations();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitializeMap();
        }
    }

    private async Task InitializeMap()
    {
        await GetLocation();
        await JSRuntime.InvokeVoidAsync("initializeMap", latitude, longitude);
        if (!Detail)
        {
            await PlaceAllPins();
        }
        else
        {
            await PlacePin();
        }
    }

    private async Task GetLocation()
    {
        if (!Detail)
        {
            var location = await JSRuntime.InvokeAsync<Dictionary<string, double>>("getCurrentLocation");
            if (location != null)
            {
                latitude = location["latitude"];
                longitude = location["longitude"];
            }
        }
        else
        {
            if (Location != null)
            {
                latitude = Location.GeoPoint2D.Latitude;
                longitude = Location.GeoPoint2D.Longitude;
            }
        }
    }

    private async Task PlaceAllPins()
    {
        foreach (var location in locations)
		{
			await JSRuntime.InvokeVoidAsync("addMarker", location.GeoPoint2D.Latitude, location.GeoPoint2D.Longitude);
		}
    }

    private async Task PlacePin()
	{
		await JSRuntime.InvokeVoidAsync("addMarker", Location.GeoPoint2D.Latitude, Location.GeoPoint2D.Longitude);
	}
}