@using Pin.OpenData.Blazor.Models
@using Pin.OpenData.Blazor.Services

@inject IImageService ImageService

@code {
    [Parameter]
    public Location location { get; set; }
    [Parameter]
    public EventCallback<Location> onDelete { get; set; }
    private byte[] imageData;

    private async Task DeleteLocationHandler()
    {
        await onDelete.InvokeAsync(location);
    }
}

<li class="card">
    <div>
        <img src="/images/trash-can.png" alt="delete location" class="delete-location" @onclick="DeleteLocationHandler"/>
    </div>
    <a href="@($"location/{location.Id}")">
        <img src="@ImageService.GetImageLink()" class="card-img-top" alt="@location.Name">
        <h2>@location.Name</h2>
    </a>
</li>
