@page "/location/add"

@using Pin.OpenData.Blazor.Components
@using Pin.OpenData.Blazor.Models
@using Pin.OpenData.Blazor.Services

@inject ILocationService LocationService
@inject NavigationManager NavigationManager

<h3>Add a new location</h3>

<LocationForm OnFormSubmitted="@HandleFormSubmitted" Type="add" />

@code {
    Location submittedLocation;

    private async void HandleFormSubmitted(Location location)
    {
        submittedLocation = location;
        await LocationService.AddLocation(location);
        NavigationManager.NavigateTo($"/location/{location.Id}");
    }
}